body {
	font-family: Arial;
	background-color: #B6B4C2;
}


h1 {
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	background-color: #A2A7AB;
}


li {
	text-align: center;
	margin: 10px;
	background-color: #F2F5EB;
}